.main-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mobile-header {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .main-layout {
    margin-left: 260px;
  }

  .mobile-header {
    display: none;
  }
}